PUBLIC_API_BASE_URL=http://localhost:3000
PUBLIC_API_VERSION=/api/v2
PRIVATE_API_BASE_URL=http://localhost:3000
PRIVATE_API_VERSION=/api/v2
PUBLIC_APP_RELEASE=local-dev
APP_RELEASE=local-dev
MONITORING_PROVIDER=console
